
* {
	margin: 0px;
	padding: 0px;
	font-family: 'SimSun';
}

html,
body {
	width: 100%;
    height: 100%;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.box {
	position: relative;
	background-color: #ffffff;
	background-size: 100% auto;
	background-position: center center;
}
/* 不再提示 */
.remindhead{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #f3f3f3;
}
.remindhead >div{
    width: 1216px;
    display: flex;
    margin: 0 auto;
}
.remindhead >div>span:nth-child(1){
    font-size: 12px;
    flex: 1;
}
.remindhead >div>span:nth-child(1) a{
    font-size: 12px;
    color: #2faa61;
}
.remindhead >div>span:nth-child(2){
    flex: 1;
    text-align: right;
    font-size: 12px;
    background: url(../forindex/no_remind.png) no-repeat;
    background-position-x: 550px;
    background-position-y: center;
}
/* logo显示区 */
.head{
    width: 1216px;
    height: 25px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between; 
}
.head >div{
    flex-grow: 1;
}
.head_left{
    display: flex;
}
.head_left >div:nth-child(1){
    text-align: center;
    background: url(../forindex/main_logo.png) no-repeat;
    background-position-x: left;
    background-position-y: center;
    font-size: 22px;
    padding-left: 84px;
}
/* 关注按钮 */
.atten{
    display: flex;
    height: 25px;
    margin-left: 30px;
    align-items: center;
}
.atten>div{
    display: flex;
}
.atten>div>span{
    width: 54px;
    height: 21px;
    background-color: #21a557;
    text-align: center;
    line-height: 21px;
    color: #ffffff;
    border-radius: 3px;
}
.atten>span:nth-child(3){
    margin-left: -6px;
}
.atten>div>a{
    display: none;
    line-height: 21px;
}
.atten>span:nth-child(2){
    width: 54px;
    height: 21px;
    background-color: ffffff;
    text-align: center;
    line-height: 21px;
    border-radius: 3px;
}
/* 三大导航 */
.head_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.head_right>a{
    margin: 0px 30px;
}
.head_right>a:nth-child(4){
    background: url(../forindex/maglass.png) no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 22px;
    height: 25px;
}
.head_right>a:hover{
    text-decoration: none;
    color: #39a030;
}
/* 轮播图 */
.turn_picture{
    width: 100%;
    height: 460px;
}
.banner_area{
    position: relative;
    list-style-type: none;
}
.banner_area>li{
    position: absolute;
    margin-left: -808px;
    height: 460px;
    left: 50%;
}
.silder{
    display: flex;
    padding-left: 645px;
    padding-top: 430px;
    list-style: none;
}
.point{
    z-index: 10000;
    margin: 5px;
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
/* 控制图片显示最上层 */
.banner_picrure.active{
    z-index: 1000;
}